.my_hnav{
    max-height: 60px;
}

.w_img{
    width: 60px;
}

.my_sidebar{
    width: 50px;
    min-height: 100%;
    z-index: 999;
    position: relative;
    background-image: url(./img/sidebar-bg.png);
    background-color: #051E34
}

main{
    width: calc(100% -50px);
}

.height200{
    height: 200px;    
}

.wimg{
    width: 10px;
}

.my_h_button{
    height: 25px;
}

.my_bg_button{
    background-color: rgba(0, 0, 0, 0.205);
}

@media screen and (min-width:992px) {
    .my_sidebar{
        width: 150px;
    }

    main{
        width: calc(100% -150px);
    }
    
}