/* *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
} */

.my_hnav{
    max-height: 60px;
}

.w_img{
    width: 70px;
}

.my_sidebar{
    width: 50px;
    min-height: 100%;
    z-index: 999;
    position: relative;
    background-image: url(./img/sidebar-bg.png);
    background-color: #051E34
}

.height200{
    height: 200px;    
}


.wimg{
    width: 10px;
}

@media screen and (min-width:992px) {
    .my_sidebar{
        width: 100px;
    }
    
}